@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 28, 25, 23; /* Change to a dark gray value */
  --background-end-rgb: 28, 25, 23; /* Change to a dark gray value */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 28, 25, 23; /* Change to a dark gray value */
    --background-end-rgb: 28, 25, 23; /* Change to a dark gray value */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
